/** General styling of the layout. CSS grid layout and color **/
body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    min-height: 100vh;
    gap: 10px;
    font-size: large;
}

html {
    background-color: rgb(74, 74, 181);
    font-family: cursive
}

/** Styling of each section of the page **/

/** Styling of each block **/
.semtag {
    background-color: lightblue;
    border-radius: 5px;
}

/** elements that have this class are colloured purple if present on the current webpage **/
.active {
    background-color: rgb(125, 59, 125);
    color: white;
    border-radius: 4px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 1 / 2 / 7;
}

main {
    grid-area: 2 / 2 / 6 / 6;
}

main.mainWithoutAside {
    grid-area: 2 / 2 / 6 / 7;
}

nav {
    grid-area: 2 / 1 / 6 / 2;
    text-align: center;
}

aside {
    grid-area: 2 / 6 / 6 / 7;
    text-align: center;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    height: auto;
    grid-area: 6 / 1 / 7 / 7;
}

#dashboard {
    text-align: center;
}

/** Styling of the lists **/

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: rgb(196, 225, 235);
    border-radius: 5px;
}

ol {
    list-style-position: inside;
}

li a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    transition: background-color, 0.3s;
}

.normalList {
    all: unset;
    list-style-type: none;
}

.normalList>li {
    padding-left: 10px;
}

/** Styling of the details and summary tag **/
summary {
    cursor: pointer;
    margin: 5px;
    background-color: rgb(196, 225, 235);
    border-radius: 5px;
    transition: background-color, 0.3s;
}

details {
    max-height: auto;
    max-width: auto;
}

details>* {
    padding-left: 10px;
}


/** Styling of the table on the dashboard page **/
table {
    width: 100%;
    height: 100%;
    background-color: rgb(74, 74, 181);
}

th,
td {
    border: 2px solid rgb(74, 74, 181);
    border-radius: 5px;
    padding: 5px;
}

th {
    background-color: lightblue;
}

td {
    background-color: rgb(204, 241, 255);
}

.bar {
    position: relative;
    height: 20px;
    border-radius: 20px;
    background-color: lightblue;
    padding: 0;
    margin: 0;
}

#bsa {
    position: absolute;
    background-color: rgb(238, 31, 31);
    width: 3px;
    left: 75%;
    height: 20px;
    top: 0;
}

#progress {
    width: 50%;
    background-color: rgb(84, 200, 84);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

/** animations **/
li a:hover,
summary:hover {
    background-color: rgb(55, 55, 128);
    color: white;
    border-radius: 4px;
}

/** styling of text and images **/

.bolderText {
    font-weight: bolder;
}

main>p {
    padding-left: 10px;
}

img {
    height: 50px;
    width: auto;
}

img.emoji {
    width: 25px;
    height: auto;
    vertical-align: middle;
}


/** Styling when the page becomes horizontally smaller then 900px **/

@media (max-width: 900px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        gap: 10px;
    }

    main {
        grid-area: 4 / 1 / 6 / 7;
        height: auto;
        overflow-x: auto;
    }

    main.mainWithoutAside {
        grid-area: 3 / 1 / 6 / 7;
        height: auto;
    }

    nav {
        grid-area: 2 / 1 / 3 / 7;
        height: auto;
    }

    aside {
        grid-area: 3 / 1 / 4 / 7;
        height: auto;
    }

}