body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    min-height: 100vh;
    gap: 10px;
}

html {
    background-color: rgb(74, 74, 181);
    font-family: cursive
}

summary,
ul {
    background-color: rgb(196, 225, 235);
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

ol {
    list-style-position: inside;
}

summary {
    cursor: pointer;
    margin: 5px;
}

.thingsILike {
    all: unset;
    list-style-type: none;
    padding-left: 10px;
}

li a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}

li a:hover,
summary:hover {
    background-color: rgb(55, 55, 128);
    color: white;
    border-radius: 4px;
}

.active {
    background-color: rgb(125, 59, 125);
    color: white;
    border-radius: 4px;
}

.semtag {
    background-color: lightblue;
    text-align: center;
    border-radius: 5px;
}

.text {
    text-align: left;
    margin: 10px;
}

img {
    height: 50px;
    width: auto;
}

.li_item {
    padding-left: 10px;
}

img.emoji {
    width: 25px;
    height: auto;
    vertical-align: middle;
}

header {
    grid-area: 1 / 1 / 2 / 7;
}

nav {
    grid-area: 2 / 1 / 6 / 2;
}

main {
    grid-area: 2 / 2 / 6 / 6;
}

.table {
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    grid-template-rows: 50px;
    grid-auto-rows: 50px;
    overflow-x: auto;
    background-color: rgb(74, 74, 181);
}

.table>.table_header {
    background-color: lightblue;
}

.cell {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(204, 241, 255);
    border: 2px solid rgb(74, 74, 181);
    border-radius: 5px;
}

aside {
    grid-area: 2 / 6 / 6 / 7;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    grid-area: 6 / 1 / 7 / 7;
}